{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col s12">
            <h1>Witaj {{ app.user.username }}</h1>
            <p>Twój email: <b>{{ app.user.email }}</b></p>

            <a href="{{ path('_logout') }}" class="waves-effect waves-light btn">Wyloguj</a>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
