{% extends 'base.html.twig' %}

{% block body %}
    <h1>Użytkownicy</h1>

    <div class="row">
        <div class="col m8">
            <h2>Logowanie</h2>

            {% if error %}
                <div class="card-panel teal lighten-2">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% for success in app.session.flashBag.get('success', []) %}
                <div class="card-panel">
                    <span class="blue-text text-darken-2">{{ success|trans }}</span>
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.save) }}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
            {{ form_end(form) }}
        </div>

        <div class="col m4">
            <h2>Nie masz jeszcze konta?</h2>
            <a href="{{ path('userRegisterForm') }}" class="waves-effect waves-light btn">Zarejestruj się</a>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
