{% extends 'base.html.twig' %}

{% block body %}
    <div class="col m12">
        <h1>Rejestracja</h1>
        {{ form_start(form) }}

        <div class="row">
            <div class="input-field col m6">
                {{ form_row(form.username) }}
            </div>
            <div class="input-field col m6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6">
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="input-field col m6">
                {{ form_row(form.plainPassword.second) }}
            </div>
        </div>
        <div class="right">
            <a class="waves-effect waves-teal btn-flat" href="{{ path('homepage') }}">
                <i class="material-icons left">chevron_left</i>
                Powrót do strony logowania
            </a>
            {{ form_widget(form.save) }}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
